
<div class="col-4">

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

 <h2><strong>New Book</strong></h2>



 <%= form_with model: @book, url: '/books', method: :post do |f| %>
  
  <div class="T"><h4>Title</h4></div>
  
 <%= f.text_field :title %>
	
  <div class="T"><h4>Opinion</h4></div>
  <%= f.text_area :body %>

	
  <div class="T"><%= f.submit 'Create Book' %></div>
 <% end %>

</div>

<div class="col-8">
  <div class="container">  
    <div class="row">   



   

    </div>  
   </div>  
</div>
