<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/fe5aae77ee.js"crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    
  </head>

<body>
<header>
    <nav class="navbar bg-light px-3">
      <div class="container-fluid d-flex w-100">
        <div>  <%= link_to "Bookers",root_path, class: "navbar-brand" %>   </div>   
     
          <div class="d-flex ms-auto">

            <% if user_signed_in? %>

              <div>   <%= link_to user_path(current_user), class: "nav-link" do %> <i class="fa-solid fa-house"></i>Home <% end %></div>
       
              <div>  <%= link_to users_path, class: "nav-link" do %> <i class="fa-solid fa-users"></i>Users <% end %>  </div>

              <div>   <%= link_to books_path, class: "nav-link" do %> <i class="fa-solid fa-book-open"></i>Books <% end %> </div>    
    
              <div>  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %> <i class="fa-solid fa-right-from-bracket"></i>Log out <% end %>  </div>
    
             <% else %>

              <div>   <%= link_to root_path, class: "nav-link" do %> <i class="fa-solid fa-house"></i>Home <% end %> </div>     
     
              <div>   <%= link_to  about_path, class: "nav-link" do %> <i class="fa-solid fa-link"></i>About <% end %> </div>    

             <div>   <%= link_to new_user_registration_path, class: "nav-link" do %> <i class="fa-solid fa-user-plus"></i>Sign up <% end %> </div>
      
              <div>     <%= link_to new_user_session_path, class: "nav-link" do %> <i class="fa-solid fa-right-to-bracket"></i>Log in <% end %> </div>

            <% end %>
          </div>
        </div>
      </div>
    </nav>  
  </header>
<br>
  <main>
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == "notice" ? "success" : "danger" %>">
      <%= message %>
    </div>
  <% end %>
  

    <%= yield %>
  </main>

    <footer>
  <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>
